<!DOCTYPE html>
<html>
{{> head }}
<body>
 {{> nav }}
 <h1>Hello {{name}}</h1>
 <h2>Take our quiz to find out your next destination</h2>
 <img src = "Travel.jpg" width = "600" height = "400">
 
 {{> bootstrap-from-cdn-body }}
</body>
</html>
